@import "~bootstrap/dist/css/bootstrap.css";


body { 
    background-image: url('http://theprereq.com/image/light-gray-wallpapers/light-gray-wallpaper-raul-grey-fabric-texture-paint-color-wall-kitchen-cabinet-background-suit-bedroom-rgb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    
    padding-top: 60px; 
    padding-bottom: 20px;
  }