<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap User Management Data Table</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2><b>Review Management</b></h2>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Danger!</strong> {{error}}
            </div>
            <table *ngIf="getReviews" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Music Name</th>
                        <th>Reviews</th>
                        <th>Add Review and Rating</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tr *ngFor="let music of getAllMusic let id = index">
                    <td>
                        <span>{{music.musicName}}</span>
                    </td>
                    <td>

                        <div *ngFor="let review of getReviews">
                            <li class="review" *ngIf="review.musicName == music.musicName">{{ review.review }}</li>
                            <li class="review" *ngIf="review.musicName == music.musicName">Rating: {{ review.rating }}
                            </li>
                            <li class="review" *ngIf="review.musicName == music.musicName">Reviewed By
                                {{ review.userName }}</li>
                        </div>

                    </td>
                    <td>
                        Add Review:<input>
                        <span contenteditable="true" (blur)="setReview($event)"></span><br>
                        Add Rating:<input>
                        <span contenteditable="true" (blur)="addReview(music.musicName,$event)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>